 /* General */
body {
    font-family: 'Aileron', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

h1, h2, h3 {
    font-family: 'League Spartan', sans-serif;
    color: #ad2521;
}

/*Quienes somos*/
.seccion-quienes-somos {
    margin: 20px;
    text-align: center;
}

/* Inicio */
/* Ajustes para el video de fondo */
.video-fondo {
    position: fixed; /* Hace que el video permanezca fijo al desplazarse */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
    z-index: -1; /* Envía el video detrás de todo el contenido */
}

/* Sección de Inicio */
.inicio {
    text-align: center; /* Centra todo el contenido dentro de la sección */
    color: white;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: space-between; /* Separa elementos entre parte superior e inferior */
    padding: 20px;
    background-color: transparent;
}

/* Ajuste del logo */
.logo {
    width: 4cm; /* Tamaño máximo del logo */
    object-fit: contain;
    margin: 0 auto;
    z-index: 1; /* Asegura que el logo esté sobre el video */
}

/* Botón Menú */
.boton {
    background-color: #ad2521;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 60px; /* Ubica el botón en la parte inferior */
    left: 50%;
    transform: translateX(-50%); /* Lo centra horizontalmente */
    z-index: 1; /* Asegura que el botón esté sobre el video */
}


/* Menú Flotante */
/* Menú Flotante */
.menu-flotante {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}

.menu-contenido {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    height: 100%;
    padding: 20px;
}

/* Contenedor para el nombre de la empresa y los ítems */
.menu-centrado {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    width: 90%; /* Ajusta el ancho según sea necesario */
}

.menu-centrado h1 {
    font-family: 'Righteous', sans-serif; /* Para "Kick" */
}

.menu-centrado h2 {
    font-family: 'Grey Qo'; /* Para "Scholars" */
}

.grey-qo-regular {
  font-family: "Grey Qo", serif;
  font-weight: 400;
  font-style: normal;
}


.titulo-empresa {
    display: flex;
    justify-content: flex-start; /* Alinea el nombre de la empresa a la izquierda del centro */
    align-items: center;
    margin: 0;
}

.menu-items {
    display: flex;
    justify-content: flex-end; /* Alinea los ítems a la derecha del centro */
    flex-direction: column; /* Alinea los items verticalmente */
    align-items: left;
    margin: 0;
}

.menu-items li {
    list-style: none;
    margin: 20px; /* Ajusta el espacio entre los ítems */
}

.menu-items button {
    background: none;
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    color: #ad2521;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-items button:hover {
    color: #f9c2c2;
}


/* Secciones */
.seccion {
    display: none;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    background: white;
}

.seccion.activa {
    display: block;
}

.imagen-principal {
    width: 100%;
    max-height: 66vh;
    object-fit: cover;
    margin-bottom: 20px;
}


/* Estilo para la sección de planes */
.intro {
    text-align: center;
    padding: 20px;
    background: #ffffff;
}

.descripcion {
    font-family: 'Aileron', sans-serif;
    color: #ad2521;
    text-align: justify;
    margin: 0 auto;
    max-width: 80%;
}

/* Planes */
.planes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    width: 100%;
    max-width: 1200px;
}

.plan-texto {
    flex: 1;
    padding: 10px;
}

.plan-imagen img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.subtitulo {
    font-size: 1.5rem;
    font-family: 'League Spartan', sans-serif;
    color: #ad2521;
}

.btn-transicion {
    background-color: #ad2521;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-transicion:hover {
    background-color: #8e1f1f;
}

.detalle-plan {
    display: none;
    text-align: center;
    padding: 20px;
    background: #ffffff;
}

.detalle-contenido {
    max-width: 800px;
    margin: 0 auto;
}

.oculto {
    display: none;
}

.btn-cerrar {
    background-color: #ad2521;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/*Menu paginas internas */
header {
    background-color: #ad2521; /* Color de fondo rojo */
    padding: 10px 20px; /* Espaciado interno */
}

.menu2 {
    display: flex; /* Alineación flexible */
    justify-content: space-between; /* Espacio entre el logo y los ítems */
    align-items: center;
}

.logo2 img {
    width: 2.5cm;/* Ajusta el tamaño del logo */
    align-items: left;
}

.menu-items2 {
    list-style: none; /* Quita los estilos de lista */
    display: flex; /* Alinea horizontalmente */
    gap: 30px; /* Espacio entre elementos */
    margin: 0;
    padding: 0;
}

.menu-items2 a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color de texto por defecto */
    font-family: 'League Spartan', sans-serif; /* Fuente */
    font-size: 1rem;
    transition: color 0.3s; /* Transición de color */
}

.menu-items2 a:hover {
    color: #d3d3d3; /* Rojo al pasar el cursor */
}

/* Pagina interna contacto*/
.contacto-info {
    font-family: 'Aileron', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 2cm;
}

.telefono, .correo, .social {
    color: #ad2521;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    
}

.telefono:hover, .correo:hover, .social:hover {
    color: #007bff;
}

/* Mensajes de "Copiar" o "Abrir" */
.telefono:hover::after,
.correo:hover::after,
.social:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 0;
    background: #f1f1f1;
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

/* Añadir data-tooltip a cada elemento */
#telefono:hover::after { content: "Copiar"; }
#telefono2:hover::after { content: "Copiar"; }
.correo:hover::after { content: "Abrir"; }
.social:hover::after { content: "Abrir"; }

/* Estilo para los títulos y texto de contacto */
.titulo {
    font-size: 2.5em;
    color: #ad2521; /* Rojo */
}

.texto {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
}

.subtitulo {
    font-size: 2em;
    color: #ad2521; /* Rojo */
}

/* Alineación horizontal de los bloques de contacto */
.contacto-left,
.contacto-right {
    width: 48%; /* Ajusta el tamaño de cada bloque */
    padding: 20px;
    background-color: transparent;
    border: 2px solid #ad2521; /* Borde rojo */
    border-radius: 10px; /* Bordes redondeados */
    text-align: left;
    display: inline-block; /* Esto coloca los bloques en línea */
    vertical-align: top; /* Alinea los bloques verticalmente */
}

/* Evitar márgenes adicionales innecesarios */
.contacto-left p,
.contacto-right p {
    margin: 10px 0;
}


/* Estilos para los enlaces de redes sociales */
.redes-sociales {
    text-align: center;
    margin-top: 30px;
}

.redes-sociales a {
    margin: 0 10px;
    font-size: 1.2em;
    color: #ad2521;
    text-decoration: none;
}

.redes-sociales a:hover {
    text-decoration: underline;
}

.social-icon {
    width: 2cm; /* Ajusta el tamaño según lo necesites */
    height: auto;
    margin: 10px;
}

/* Imagen contacto */
.contacto-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.contacto-left {
    width: 50%; /* Ocupa la mitad del espacio horizontal */
    align-items: left;
}

.contacto-imagen {
    width: 40%; /* Imagen ocupa el 40% del espacio horizontal */
    display: flex;
    justify-content: center;
    align-items: right;
}

.imagen-contacto {
    max-width: 100%;
    height: auto;
}

/* Formulario de contacto */
.formulario {
    margin-top: 40px;
    text-align: center;
}

.formulario h3 {
    font-size: 1.8em;
    color: #ad2521;
}

.formulario form {
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ad2521;
    border-radius: 5px;
    background-color: transparent;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: #7a1a15;
    outline: none;
}

.formulario button {
    background-color: #ad2521;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #7a1a15;
}

/* Estilos de los enlaces de teléfono */
.telefono {
    color: #ad2521;
    cursor: pointer;
}

.telefono:hover {
    text-decoration: underline;
}



/* Opcional: Ajustar tamaño de fuente en pantallas pequeñas */
@media (max-width: 768px) {
    .titulo-kickoff {
        font-size: 2em; /* Tamaño más pequeño en dispositivos móviles */
    }
    .titulo-scholars {
        font-size: 1.5em; /* Tamaño más pequeño en dispositivos móviles */
    }
}  

/* quienes-somos.html */
.intro .contenido {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente al centro */
    justify-content: center; /* Centra horizontalmente la sección completa */
    gap: 20px; /* Espaciado entre la imagen y el texto */
}

.intro .imagen-principal {
   height: 12cm; /* Altura máxima de 12 cm */
    width: auto; /* Mantiene las proporciones sin recortar la imagen */
}

.intro .texto {
    max-width: 600px; /* Ancho máximo del texto */
    font-family: 'Aileron', sans-serif; /* Tipografía */
    color: #333; /* Color del texto */
    text-align: justify; /* Alineación del texto */
}

.intro h1 {
    font-family: 'League Spartan', sans-serif;
    color: #ad2521; /* Rojo para el título */
    font-size: 2em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1em;
    line-height: 1.5;
}

.boton-rojo {
    display: inline-block;
    background-color: #ad2521; /* Color rojo */
    color: white; /* Texto en blanco */
    font-family: 'League Spartan', sans-serif;
    font-size: 1em; /* Tamaño del texto */
    padding: 8px 17px; /* Espaciado interno */
    border: none; /* Sin bordes adicionales */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    text-decoration: none; /* Quita el subrayado del enlace */
    cursor: pointer; /* Cambia el cursor a mano al pasar por encima */
    transition: background-color 0.3s, transform 0.2s; /* Animación suave */
}

.boton-rojo:hover {
    background-color: #c41f1b; /* Rojo más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de zoom ligero */
}

.contenedorbotonrojo {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
}

/* Nuestros servicios pagina interna */

.tituloser {
    font-size: 2.5em;
    color: #ad2521; /* Rojo */
    margin: 0;
    padding: 0;
}

.introser {
    margin-top: 2cm;
    margin-left: 2cm;
    align-items: left;
    text-align: justify;
    background: #ffffff;
}

.descripcion sin-vinetas {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    height: 100%;
    padding: 20px;
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
}


.subtituloser {
    font-family: 'League Spartan', sans-serif;
    color: #ad2521;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.descripcionser {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 0;
    padding: 0;
    background: white;
}

.descriptionser {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 0;
    padding: 0;
    background: white;
}

.plan-detalle {
    margin: 1cm;
    width: 48%; /* Ajusta el tamaño de cada bloque */
    padding: 20px;
    background-color: transparent;
    border: 2px solid #ad2521; /* Borde rojo */
    border-radius: 10px; /* Bordes redondeados */
    text-align: left;
    display: inline-block; /* Esto coloca los bloques en línea */
}

.oculto {
    display: none; /* Oculta el elemento por defecto */
}
